<template>
	<div>
		<indicadoresForm @guardar="save"></indicadoresForm>
	</div>
</template>

<script>
import indicadoresForm from './form';
export default 
{
	data(){
		return {
			validateFormula:false,
			indicadoresData:[]
		}
	},
	components:{
		indicadoresForm
	},
	methods:{
        save(datas)
        {
            let me = this;
            var url = base + '/indicadores/Edit';
            axios
            .post(url,datas)
            .then(function(response)
            {
				if(response.data.validate)
				{
					me.$swal({type: 'success',title: 'Guardado con éxito'});
				}
				else
				{
					me.$swal({type: 'error',title: 'Error al guardar.'})
					me.$children.btnreadonly=false;
				}
            })
            .catch(function(error)
            {
                    console.error(error)
            });
		},
		cargarValores()
		{
				let me = this;
                var url = base + '/indicadores/load/';
                axios
                .post(url,{id:me.indicadoresData.id})
                .then(function(response)
                {
					if(response.data.validate)
					{
						let data = response.data.data;
						me.indicadoresData.numero							= data.numero;
						me.indicadoresData.alcance							= data.alcance;
						me.indicadoresData.codigo							= data.codigo;
						me.indicadoresData.denominador						= data.denominador;
						me.indicadoresData.id_area							= data.id_area;
						me.indicadoresData.nombre							= data.nombre;
						me.indicadoresData.id_indicador_tipo				= data.id_indicador_tipo;
						me.indicadoresData.justificacion					= data.justificacion;
						me.indicadoresData.normativa						= data.normativa;
						me.indicadoresData.alcance							= data.alcance;
						me.indicadoresData.unidad_medida					= data.unidad_medida;
						me.indicadoresData.id_frecuencia_medida				= data.id_frecuencia_medida;
						me.indicadoresData.numerador						= data.numerador;
						me.indicadoresData.fuente_numerador					= data.fuente_numerador;
						me.indicadoresData.denominador						= data.denominador;
						me.indicadoresData.fuente_denominador				= data.fuente_denominador;
						me.indicadoresData.formula							= data.formula;
						me.indicadoresData.id_responsable					= data.id_responsable;
						me.indicadoresData.id_comite_encargado_analisis		= data.id_comite_encargado_analisis;
						me.indicadoresData.id_vigilancia_control			= data.id_vigilancia_control;
						
						me.indicadoresData.rango_aceptable_valor			= data.rango_aceptable_valor;
						me.indicadoresData.rango_aceptable_valor2			= data.rango_aceptable_valor2;

						me.indicadoresData.rango_safistactorio_valor		= data.rango_safistactorio_valor;
						me.indicadoresData.rango_safistactorio_valor2		= data.rango_safistactorio_valor2;

						me.indicadoresData.rango_deficiente_valor			= data.rango_deficiente_valor;
						me.indicadoresData.rango_deficiente_valor2			= data.rango_deficiente_valor2;
						
						me.indicadoresData.id_rango_aceptable_tipo			= data.id_rango_aceptable_tipo;
						me.indicadoresData.id_rango_satisfactorio_tipo		= data.id_rango_satisfactorio_tipo;
						me.indicadoresData.id_rango_deficiente_tipo			= data.id_rango_deficiente_tipo;
						
						me.indicadoresData.formula_texto					= data.formula_texto;
						me.indicadoresData.variables						= data.variables;
						me.$children[0].validarFormular(false);
					}
					else
					{
						me.$router.push({ name: "error404"})
					}
					me.$swal().close();
                })
                .catch(function(error)
                {
					console.error(error)
					me.$swal().close();
                });
		}
    },
	mounted(){
		let me = this;
		let data = me.$children[0]._data;
		me.$swal({
			title: "Cargando",   
            text: "Por favor espere un momento",
			showConfirmButton: false
		})
		me.indicadoresData = data.indicadoresData;
		me.indicadoresData.id = me.$route.params.id;
		me.cargarValores();
		
	}
}
</script>
<style>
.row{
    padding-top:10px;
}
#formula{
	font-size: 70px;
}
.invalidate{
	border-color:#a94442 !important;
    -webkit-box-shadow: 0 0 0 0.2rem #a94442 !important;
    box-shadow: 0 0 0 0.2rem #a94442 !important;

}
.text-muted{
    text-align: center;
}
</style>