<template>
	<div>
		<form @submit.prevent="save">
			<div>
				<div class="row">
					<div class="col-md-2">
							<label>Número del indicador	</label>
							<input type="number" class="form form-control" name="numero" id="numero" v-model="indicadoresData.numero" required="true">
					</div>
					<div class="col-md-2">
						<label>codigo	</label>
						<input type="text" class="form form-control" name="codigo" id="codigo" v-model="indicadoresData.codigo">
					</div>
					<div class="col-md-4">
						<label>Proceso-área</label>
						<select class="form form-control" name="id_area" id="id_area" v-model="indicadoresData.id_area" required="true">
							<option value="">Seleccione un area</option>
							<option v-for="(area,index) in areasArray" :key="index" :value="area.id">{{area.nombre}}</option>
						</select>
					</div>
						<div class="col-md-4">
						<label>Tipo de Indicador</label>
						<select class="form form-control" name="id_indicador_tipo" id="id_indicador_tipo" v-model="indicadoresData.id_indicador_tipo" required="true">
							<option value="">Seleccione</option>
							<option v-for="(indicadoresTipo,index) in indicadoresTipoArray" :key="index" :value="indicadoresTipo.id">{{indicadoresTipo.nombre}}</option>
						</select>
					</div>

				</div>
				
				<div class="row">
					<div class="col-md-12">
						<label>Indicador</label>
						<textarea class="form form-control" name="nombre" id="nombre" v-model="indicadoresData.nombre" required="true"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label>Utilidad</label>
						<textarea class="form form-control" name="justificacion" id="justificacion" v-model="indicadoresData.justificacion" required="true"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label>Normatividad a la que respónde el indicador</label>
						<textarea class="form form-control" name="normativa" id="normativa" v-model="indicadoresData.normativa" placeholder="Ingrese normatividad numero fecha y autor" required="true"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label>Alcance</label>
						<input type="text" class="form form-control" name="alcance" id="alcance" v-model="indicadoresData.alcance" required="true">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Unidad de medida</label>
						<input type="text" class="form form-control" name="unidad_medida" id="unidad_medida" v-model="indicadoresData.unidad_medida" required="true">
					</div>
					<div class="col-md-6">
						<label>Frecuencia de medida</label>
						<select class="form form-control" name="id_frecuencia_medida" id="id_frecuencia_medida" v-model="indicadoresData.id_frecuencia_medida" required="true">
							<option value=""  style="display:none;">Seleccione una frecuencia</option>
							<option v-for="(frecuenciasMedida,index) in arrayFrecuenciasMedida" :key="index" :value="frecuenciasMedida.id">{{frecuenciasMedida.nombre}}</option>

						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label>Numerador</label>
					<input @keyup="fuentes()" type="text" class="form form-control" name="numerador" id="numerador" v-model="indicadoresData.numerador" required="true">
				</div>
				<div class="col-md-6">
					<label>Fuente numerador</label>
					<input type="text" class="form form-control" name="fuente_numerador" id="fuente_numerador" v-model="indicadoresData.fuente_numerador"  required="true">
				</div>
				<div class="col-md-6">
					<label>Denominador</label>
					<input @keyup="fuentes()" type="text" class="form form-control" name="denominador" id="denominador" v-model="indicadoresData.denominador" required="true">
				</div>
				<div class="col-md-6">
					<label>Fuente denominador	</label>
					<input type="text" class="form form-control" name="fuente_denominador" id="fuente_denominador" v-model="indicadoresData.fuente_denominador" required="true">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							Generador de formulas
						</div>
						<div class="card-body">
							<blockquote class="blockquote mb-0">
								<div class="row">
									<div class="col-md-6">
										<div v-if="false">
										<label for="">Variables </label>
										<div class="input-group mb-3">
											<input type="text" v-model="variabletemp.nombre_corto" name="variabletempNombre_corto" id="variabletempNombre_corto" class="form-control" placeholder="nombre variable" minlength="1" maxlength="1" ref="focusNombre_corto">
											<input type="text" v-model="variabletemp.nombre_largo" name="variabletempNombre_largo" id="variabletempNombre_largo" class="form-control" placeholder="descripcion" >
											<div class="input-group-append">
												<button class="btn btn-outline-secondary" @click="nuevaVariable()" type="button">+</button>
											</div>
										</div>
										</div>

										<div class="list-group">
											<button type="button" v-for="(variablesNew, index) in indicadoresData.variables" :key="index" class="list-group-item list-group-item-action" @click="addTxt(variablesNew.nombre_corto)">{{variablesNew.nombre_corto}} - {{variablesNew.nombre_largo}}</button>
										</div>
									</div>
									<div class="col-md-6">
										<label>
										<button class="btn btn-success" type="button" @click="validarFormular(true)">Validar</button>
										Fórmula de cálculo	
										</label>
										<textarea @keyup="validateFormula=false;interpretar()" :class="validateFormula?'':'invalidate'" class="form form-control" name="formula" id="formula" v-model="indicadoresData.formula" required="true">
										</textarea>
									</div>
								</div>
							</blockquote>
						</div>
						<div class="card-footer text-muted">
							{{indicadoresData.formula_texto}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label>Responsable análisis o seguimiento</label>
					<select class="form form-control" name="id_responsable" id="id_responsable" v-model="indicadoresData.id_responsable" required="true">
						<option value="">Seleccione</option>
						<option v-for="(areas, index) in  areasArray" :key="index" :value="areas.id">{{areas.nombre}}</option>
					</select>
				</div>
				<div class="col-md-6">
					<label>Responsable del reporte</label>
					<select class="form form-control" name="id_comite_encargado_analisis" id="id_comite_encargado_analisis" v-model="indicadoresData.id_comite_encargado_analisis" required="true">
						<option value="" style="display:none;">Seleccion</option>
						<option v-for="(ComiteEncargado, index) in arrayComiteEncargado" :key="index" :value="ComiteEncargado.id">
							<template v-if="ComiteEncargado.tbl_puntos_atencion!=null">
							{{ComiteEncargado.tbl_puntos_atencion.nombre}}
							-
							</template>
							{{ComiteEncargado.apellido_primero}}
							{{ComiteEncargado.apellido_segundo}}
							{{ComiteEncargado.nombre_primero}}
							{{ComiteEncargado.nombre_segundo}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label>Vigilancia y Cóntrol</label>
					<select class="form form-control" name="id_vigilancia_control" id="id_vigilancia_control" v-model="indicadoresData.id_vigilancia_control" required="true">
						<option value="" style="display:none">Seleccione</option>
						<option v-for="(VigilanciaControl,index) in arrayVigilanciaControl" :key="index" :value="VigilanciaControl.id">{{VigilanciaControl.nombre}}</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							Rango de Calificación
						</div>
						<div class="card-body">
							<blockquote class="blockquote mb-0">
								<div class="row">

									<div class="col-md-4">
										Satisfactorio (Meta)
										<div class="input-group mb-3">
											<div class="input-group-append">
												<select name="id_rango_satisfactorio_tipo" id="id_rango_satisfactorio_tipo" v-model="indicadoresData.id_rango_satisfactorio_tipo" class="form form-control" required="true" >
													<option v-for="(rangosTipo,index2) in rangosTiposArray" :key="index2" :value="rangosTipo.id"  :title="rangosTipo.nombre">{{rangosTipo.caracter}}</option>
												</select>
											</div>
											<input type="number" class="form form-control" name="rango_safistactorio_valor" :placeholder="indicadoresData.id_rango_satisfactorio_tipo? 'Minimo':''" v-model="indicadoresData.rango_safistactorio_valor" required="true">
											<input type="number" class="form form-control" name="rango_safistactorio_valor2" :placeholder="indicadoresData.id_rango_satisfactorio_tipo?'Máximo':''" v-model="indicadoresData.rango_safistactorio_valor2" required="true" v-if="indicadoresData.id_rango_satisfactorio_tipo==7">
										</div>
									</div>


									<div class="col-md-4">
										Aceptable
										<div class="input-group mb-3">
											<div class="input-group-append">
												<select name="id_rango_aceptable_tipo" id="id_rango_aceptable_tipo" v-model="indicadoresData.id_rango_aceptable_tipo" class="form form-control" required="true" >
													<option v-for="(rangosTipo,index2) in rangosTiposArray" :key="index2" :value="rangosTipo.id"  :title="rangosTipo.nombre">{{rangosTipo.caracter}}</option>
												</select>
											</div>
											<input type="number" class="form form-control" name="rango_aceptable_valor" :placeholder="indicadoresData.id_rango_aceptable_tipo? 'Minimo':''" v-model="indicadoresData.rango_aceptable_valor" required="true">
											<input type="number" class="form form-control" name="rango_aceptable_valor2" :placeholder="indicadoresData.id_rango_aceptable_tipo?'Máximo':''" v-model="indicadoresData.rango_aceptable_valor2" required="true"  v-if="indicadoresData.id_rango_aceptable_tipo==7">
										</div>
									</div>

									<div class="col-md-4">
										Deficiente
										<div class="input-group mb-3">
											<div class="input-group-append">
												<select name="id_rango_deficiente_tipo" id="id_rango_deficiente_tipo" v-model="indicadoresData.id_rango_deficiente_tipo" class="form form-control" required="true" >
													<option v-for="(rangosTipo,index2) in rangosTiposArray" :key="index2" :value="rangosTipo.id"  :title="rangosTipo.nombre">{{rangosTipo.caracter}}</option>
												</select>
											</div>
											<input type="number" class="form form-control" name="rango_deficiente_valor"  :placeholder="indicadoresData.id_rango_deficiente_tipo?'Minimo':''" v-model="indicadoresData.rango_deficiente_valor"  required="true">
											<input type="number" class="form form-control" name="rango_deficiente_valor2" :placeholder="indicadoresData.id_rango_deficiente_tipo?'Minimo':''" v-model="indicadoresData.rango_deficiente_valor2" required="true" v-if="indicadoresData.id_rango_deficiente_tipo==7">
										</div>
									</div>
								</div>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div v-if="!validateFormula" class="alert alert-danger" role="alert">
						Debe validar la formula antes de poder guardar
					</div>
					<button v-if="validateFormula" :disabled="btnreadonly" class="btn btn-success" type="submit">
					<i class="fas fa-save"></i> Guardar
					</button>
				</div>
			</div>
		</form>
	</div>
</template>
<script>
	export default {
		data()
		{
            return {
				btnreadonly:false,
				formValidation:Object,
				arrayFrecuenciasMedida:[],
				arrayComiteEncargado:[],
				rangosArray:[],
				rangosTiposArray:[],
				arrayVigilanciaControl:[],
				validateFormula:false,
				variabletemp:{
					nombre_corto:'',
					nombre_largo:''
				},
				areasArray:[],
				indicadoresTipoArray:[],
	            indicadoresData: {
					variables:[],
                    numero:"",
                    codigo:"",
                    id_area:"",
                    nombre:"",
                    id_indicador_tipo:"",
                    justificacion:"",
                    normativa:"",
                    alcance:"",
                    unidad_medida:"",
                    id_frecuencia_medida:"",
                    numerador:"",
					fuente_numerador:"",
					denominador:"",
                    fuente_denominador:"",
                    formula:"",
                    id_responsable:"",
                    id_comite_encargado_analisis:"",
                    id_vigilancia_control:"",
                    rango_aceptable_valor:"",
                    id_rango_aceptable_tipo:"",
                    rango_safistactorio_valor:"",
                    id_rango_satisfactorio_tipo:"",
                    rango_deficiente_valor:"",
					id_rango_satisfactorio_tip:"",
					formula_texto:'',

					rango_safistactorio_valor:'',
					rango_safistactorio_valor:'',
					rango_safistactorio_valor:'',
					
                }    
			}
		},
        methods:
        {
            Iniciar()
            {
				let me = this;
				//me.fuentes();
				me.areas();
				me.indicadoresTipos();
				me.rangos();
				me.rangosTipo();
				me.FrecuenciaMedida();
				me.ComiteEncargado();
				me.VigilanciaControl();
				$('form').validate();
			},
			save()
			{
				let me = this;
				me.btnreadonly=true;
				me.$emit('guardar',me.indicadoresData)
			},
			disableBotton()
			{
				let me = this;
				me.btnreadonly=false;
			},
			fuentes()
			{
				let me = this;
				if($.trim(me.indicadoresData.numerador))
				{
					me.indicadoresData.variables[0]={
						nombre_corto:'N',
						nombre_largo:me.indicadoresData.numerador
					};
				}
				if($.trim(me.indicadoresData.denominador))
				{
					me.indicadoresData.variables[1]={
						nombre_corto:'D',
						nombre_largo:me.indicadoresData.denominador
					};
				}

				me.interpretar();
			},
			addTxt(txt)
			{
				let me = this;
				me.indicadoresData.formula=me.indicadoresData.formula+txt;
				me.interpretar()
			},
			ComiteEncargado()
			{
				let me = this;
                var url = base + '/ComiteEncargadoAnalisis/all/';
                axios
                .get(url)
                .then(function(response)
                {
					me.arrayComiteEncargado=response.data.data;
                })
                .catch(function(error)
                {
                    console.error(error)
                });
			},
			VigilanciaControl()
			{
				let me = this;
                var url = base + '/VigilanciaControl/all/';
                axios
                .get(url)
                .then(function(response)
                {
					me.arrayVigilanciaControl=response.data;
                })
                .catch(function(error)
                {
                    console.error(error)
                });
			},
			FrecuenciaMedida()
			{
				let me = this;
                var url = base + '/frecuenciaMedidas/all/';
                axios
                .get(url)
                .then(function(response)
                {
					me.arrayFrecuenciasMedida=response.data;
                })
                .catch(function(error)
                {
                    console.error(error)
                });
			},
			SeleccionoRango(e,index)
			{
				let me = this;
				me.indicadoresData.verRango2[index]=(e.target.value==7);
				me.$forceUpdate();
			},
			eliminar(index)
			{
				me.indicadoresData.variables.splice(index, 1)
			},
			interpretar()
			{
				let me = this;
				let findFor = [];
				let replaceWith = [];
				$.each(me.indicadoresData.variables,function(index,value)
				{
					findFor.push(value.nombre_corto);
					replaceWith.push('{'+value.nombre_corto+'}');
				})
				let originalString = me.indicadoresData.formula;;
				let modifiedString = originalString;
				findFor.forEach( (tag, i) => modifiedString = modifiedString.replace(new RegExp(tag, "g"), replaceWith[i]) )
				
				findFor=[];
				replaceWith=[];
				$.each(me.indicadoresData.variables,function(index,value)
				{
					findFor.push('{'+value.nombre_corto+'}');
					replaceWith.push(value.nombre_largo);
				})
				findFor.forEach( (tag, i) => modifiedString = modifiedString.replace(new RegExp(tag, "g"), replaceWith[i]) )
				me.indicadoresData.formula_texto = modifiedString;
			},
			validarFormular(SiAlert)
			{
				let me = this;
				var url = me.base + '/validarFormula/';
				let data = {variables:me.indicadoresData.variables,formula:me.indicadoresData.formula};
				console.log({data:data});
                axios
                .post(url,data)
                .then(function(response)
                {
					if(response.data.validate)
					{
						if(SiAlert)
						{
							me.$swal({type: 'success',title: 'Exito',text:'Formula validada'});
						}
						me.validateFormula=true;
					}
					else
					{
						if(SiAlert)
						{
							me.$swal({type: 'error',title: 'Error',text: 'Por favor revise la ecuación.',})
						}
						me.validateFormula=false;
					}
					me.$parent._data.validateFormula=me.validateFormula;
                })
                .catch(function(error)
                {
                    console.error(error)
                });

			},
			nuevaVariable()
			{
				let me = this;
				if($.trim(me.variabletemp.nombre_corto)!=='' && $.trim(me.variabletemp.nombre_largo)!=='')
				{
					me.indicadoresData.variables.push({
						nombre_corto:'n',
						nombre_largo:me.indicadoresData.fuente_numerador
					});
					me.indicadoresData.variables.push({
						nombre_corto:'d',
						nombre_largo:me.indicadoresData.fuente_denominador
					});

					me.variabletemp.nombre_corto='';
					me.variabletemp.nombre_largo='';
					me.interpretar();
					me.$refs.focusNombre_corto.focus();
				}
			},
			rangos()
			{
				let me = this;
                var url = base + '/rangos/all/';
                axios
                .get(url)
                .then(function(response)
                {
					me.rangosArray=response.data;
					
                })
                .catch(function(error)
                {
                    console.error(error)
                });
			},
			rangosTipo()
			{
				let me = this;
                var url = base + '/rangos/tipos/';
                axios
                .get(url)
                .then(function(response)
                {
					me.rangosTiposArray=response.data;
                })
                .catch(function(error)
                {
                    console.error(error)
                });
			},
			indicadoresTipos()
			{
			    let me = this;
                var url = base + '/indicadores/tipos/';
                axios
                .get(url)
                .then(function(response)
                {
					me.indicadoresTipoArray=response.data;
                })
                .catch(function(error)
                {
                    console.error(error)
                });
			
			},
			areas()
			{
                let me = this;
                var url = base + '/areas/';
                axios
                .get(url)
                .then(function(response)
                {
					me.areasArray=response.data;
                })
                .catch(function(error)
                {
                    console.error(error)
                });
			},
		},
		mounted()
		{
			let me = this;
            me.base = base;
			me.Iniciar();
		}
}
</script>
<style>
.row{
    padding-top:10px;
}
#formula{
	font-size: 70px;
}
.invalidate{
	border-color:#a94442 !important;
    -webkit-box-shadow: 0 0 0 0.2rem #a94442 !important;
    box-shadow: 0 0 0 0.2rem #a94442 !important;

}
.text-muted{
    text-align: center;
}
</style>
