<template>
    <div>
      <router-link v-if="$parent.permisos.indicadores_create" class="btn btn-success" :to="{ name: 'indicadornew'}">Nuevo indicador</router-link>
        
        <div class="row">
          <div class="col-md-4">
          <label class="col-md-4">Registros</label>
          <select class="col-md-4" @change="cargarIndicadores(1)" v-model="registros">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
          </div>
        </div>
        <div id="scroll_bar">
          <table border="1">
              <thead>
                <tr class="row0">
                  <td rowspan="2">Opciones</td>
                  <td rowspan="2">Indicador</td>
                  <td rowspan="2">Codigo</td>
                  <td rowspan="2" class="td_index_indicador">Área responsable</td>
                  <td rowspan="2" class="td_index_indicador">Nombre del indicador</td>
                  <td :colspan="tipoIndicadorArray.length" :style="'min-width: '+(tipoIndicadorArray.length*100)+'px;'">Tipo de Indicador</td>
                  <td rowspan="2" class="td_index_indicador">Utilidad</td>
                  <td rowspan="2" class="td_index_indicador">Base normativa</td>
                  <td rowspan="2" class="td_index_indicador">Alcance</td>
                  <td rowspan="2" class="td_index_indicador">Unidad de medida</td>
                  <td rowspan="2" class="td_index_indicador">Frecuencia de medida</td>
                  <td rowspan="2" class="td_index_indicador">Numerador</td>
                  <td rowspan="2" class="td_index_indicador">Fuente numerador</td>
                  <td rowspan="2" class="td_index_indicador">Denominador</td>
                  <td rowspan="2" class="td_index_indicador">Fuente denominador</td>
                  <td rowspan="2" class="td_index_indicador">Formula de cálculo</td>
                  <td rowspan="2" class="td_index_indicador">Respónsable análisis o seguimiento</td>
                  <td rowspan="2" class="td_index_indicador">Responsable del reporte</td>
                  <td rowspan="2" class="td_index_indicador">Vigilancia y Cóntrol</td>
                  <td colspan="3">Linea base</td>
                </tr>
                <tr class="row1">
                  
                  <td v-for="(tipoIndicador,index) in tipoIndicadorArray" :key="index">
                    {{tipoIndicador.nombre}}
                  </td>                  
                  <td>Satisfactorio (Meta)</td>
                  <td>Aceptable</td>
                  <td>Deficiente</td>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="(indicadores,index) in arrayIndicadores.data" :key="index">
                      <td> 
                          <b-dd>
                            <template slot="button-content" class="btn btn-success">
                              Opciones
                            </template>
                            <b-dropdown-item v-if="$parent.permisos.indicadores_update" :to="{ name: 'indicadorEdit',params: { id: indicadores.id }}"><i class="far fa-edit"></i> Editar</b-dropdown-item >
                            <b-dropdown-item :to="{ name: 'registrosNew', params: { id: indicadores.id }}"><i class="fas fa-check-double"></i> Registrar</b-dropdown-item >
                            <b-dropdown-divider v-if="$parent.permisos.indicadores_delete"></b-dropdown-divider>
                            <b-dropdown-item v-if="$parent.permisos.indicadores_delete" @click="eliminar(indicadores)"><i class="far fa-trash-alt"></i> Eliminar</b-dropdown-item>
                          </b-dd>
                      </td>
                      <td>{{indicadores.numero}}</td>
                      <td>{{indicadores.codigo}}</td>
                      <td>{{indicadores.tbl_area.nombre}}</td>
                      <td>{{indicadores.nombre.length>limitString?indicadores.nombre.slice(0,limitString):indicadores.nombre}}
                          <button @click="vermas(indicadores.nombre)" class="ver_mas" v-if="indicadores.nombre.length>limitString" href="#">... Ver mas</button>
                      </td>
                      <td v-for="(tipoIndicador,index) in tipoIndicadorArray" :key="index">
                        <span  v-if="indicadores.tbl_indicadores_tipo.id==tipoIndicador.id">x</span>
                      </td>
                      <td>{{indicadores.justificacion.length>limitString?indicadores.justificacion.slice(0,limitString):indicadores.justificacion}}
                          <button @click="vermas(indicadores.justificacion)" class="ver_mas" v-if="indicadores.justificacion.length>limitString" href="#">... Ver mas</button>
                      </td>
                      <td>{{indicadores.normativa}}</td>
                      <td>{{indicadores.alcance}}</td>
                      <td>{{indicadores.unidad_medida}}</td>
                      <td>{{indicadores.tbl_frecuencia_medida.nombre}}</td>
                      <td>{{indicadores.numerador}}</td>
                      <td>{{indicadores.fuente_numerador}}</td>
                      <td>{{indicadores.fuente_denominador}}</td>
                      <td>{{indicadores.fuente_denominador}}</td>
                      <td>{{indicadores.formula_texto}}</td>
                      <td>{{indicadores.tbl_responsable_analisis.nombre}}</td>
                      <td v-if="indicadores.tbl_responsable_reporte!==null">
                        {{indicadores.tbl_responsable_reporte.nombre_primero}}
                        {{indicadores.tbl_responsable_reporte.nombre_segundo}}
                        {{indicadores.tbl_responsable_reporte.apellido_primero}}
                        {{indicadores.tbl_responsable_reporte.apellido_segundo}}
                      </td>
					  <td v-else>-</td>
                      <td>{{indicadores.tbl_responsable_vigilancia.nombre}}</td>
                      <td>{{indicadores.tbl_rangos_tipo_satisfactorio.id!=7? indicadores.tbl_rangos_tipo_satisfactorio.caracter:''}} {{indicadores.rango_safistactorio_valor}} {{indicadores.rango_safistactorio_valor2!=null?' - ' + indicadores.rango_safistactorio_valor2:''}}</td>
                      <td>{{indicadores.tbl_rangos_tipo_aceptable.id    !=7? indicadores.tbl_rangos_tipo_aceptable.caracter:''}}     {{indicadores.rango_aceptable_valor}}     {{indicadores.rango_aceptable_valor2!=null    ?' - ' + indicadores.rango_aceptable_valor2:''    }}</td>
                      <td>{{indicadores.tbl_rangos_tipo_deficiente.id   !=7? indicadores.tbl_rangos_tipo_deficiente.caracter:''}}    {{indicadores.rango_deficiente_valor}}    {{indicadores.rango_deficiente_valor2!=null   ?' - ' + indicadores.rango_deficiente_valor2:''   }}</td>                  </tr>
              </tbody>
          </table>
        </div>
        <label>Mostrando pagina {{arrayIndicadores.page}} de {{arrayIndicadores.total}} registros</label>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" :class="arrayIndicadores.page<=1?'disabled':''"><button class="page-link" @click="cargarIndicadores(arrayIndicadores.page-1)">Anterior</button></li>
                <li v-for="i in arrayIndicadores.pages" :key="i" class="page-item" :class="i==arrayIndicadores.page?'active':''">
                  <button class="page-link" href="#" @click="cargarIndicadores(i)">{{i}}</button>
                </li>              
              <li class="page-item" :class="arrayIndicadores.page>=arrayIndicadores.pages?'disabled':''"><button class="page-link"  @click="cargarIndicadores(parseInt(arrayIndicadores.page)+1)">Siguiente</button></li>
            </ul>
          </nav>
    </div>
</template>
<script>
export default {
		data()
		{
      return {
        registros:3,
        tipoIndicadorArray:[],
        arrayIndicadores: {
          data:[],
          page:1,
          pages:0,
          total:0,
        },    
        limitString:100
			}
    },
    filters:{
      recortar(value)
      {
        var me= this;
        var limitString=100;
        var res = value;
        if(value.length>limitString)
        {
          res = value.slice(0,limitString);
          res=res+'...';
        }
        return res;
      }
    },
    methods:{
      vermas(text)
      {
        alert(text);
      },
      eliminar(data)
		  {
        let me = this;
				me.$swal({
					title: 'Borrando',
          text: 'Va a borrar el registro con código. "'+ data.codigo +'" Esto hará que los registros realizados por otros usuarios desaparezca. ¿Desea continuar?',
					type: 'error',
					showCancelButton: true,
					confirmButtonText: 'Si, borralo',
					cancelButtonText: 'Cancelar'
				}).then((result) => 
				{
					if (result.value) 
					{
						axios.post('/indicadores/delete',{id:data.id}).then(function (response) 
						{
							me.cargarIndicadores(me.page);
							me.$swal('Borrado','El indicador con codigo "'+ data.codigo +'" ha sido borrado con éxito','success')
						})
					}
					else if (result.dismiss === "cancel")
					{
						me.$swal('Cancelado','No se ha eliminado el indicador con código "'+ data.codigo +'"','error')
					}
				})
      },
      cargarIndicadores(pagina=1)
      {
        let me = this;
        me.arrayIndicadores.page=(pagina<1)?1:(pagina>me.arrayIndicadores.pages&&me.arrayIndicadores.pages>0)?me.arrayIndicadores.pages:pagina;
        var url = base + '/indicadores/';
        axios
        .get(url, {params: {page: me.arrayIndicadores.page,registros:me.registros}})
        .then(function(response)
        {
         me.arrayIndicadores=response.data;
        })
        .catch(function(error)
        {
            console.error(error)
        });
      },
      loadTIpoIndicador()
      {
        let me = this;
        let url = base +'/indicadores/tipos'
        axios
        .get(url)
        .then(function(response)
        {
          me.tipoIndicadorArray=response.data;
        })
        .catch(function(response)
        {
        })
      }
    },
		mounted()
		{
      this.loadTIpoIndicador();
      this.cargarIndicadores();
		}
	}
</script>
<style>
table{
  text-align: center;
}
.row0{
   text-align: center;
   background-color: #DCDCDE;
   font-weight: bold;
   color:black;
 }   
#scroll_bar::-webkit-scrollbar {
    width: 12px;
}
 
#scroll_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
#scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 
}
.ver_mas{
    background-color: transparent !important;
    border-color: transparent !important;
    color: darkslateblue !important;
    font-style: italic !important;
    font-family: monospace !important;
}
</style>
