<template>
	<div>
		<indicadoresForm @guardar="save"></indicadoresForm>
	</div>
</template>

<script>
import indicadoresForm from './form';
export default 
{
	data(){
		return {
			base:''
		}
	},
	components:{
		indicadoresForm
	},
	methods:{
		save(data)
        {
			let me = this;
            var url = base + '/indicadores/';
            axios
            .post(url,me.indicadoresData)
            .then(function(response)
            {
				if(response.data.validate)
				{
					me.$swal({type: 'success',title: 'Guardado con éxito'});
				}
				else
				{
					me.$swal({type: 'error',title: 'Error al guardar.'})
					me.$children.btnreadonly=false;
					console.error(response.data.msj);
				}
            })
            .catch(function(error)
            {
                console.error(error)
            });
        }
	},
	mounted(){
		let data = this.$children[0]._data;
		this.indicadoresData = data.indicadoresData;
	}
}
</script>
