<template>
    <form @submit.prevent="guardar">
            <div class="row">
                <div class="col-md-6">
                        <label>Primer Nombre</label>
                        <input class="form form-control" name="nombre_primero" id="nombre_primero" v-model="form.nombre_primero" required>
                </div>
                <div class="col-md-6">
                        <label>Segundo Nombre</label>
                        <input class="form form-control" name="nombre_segundo" id="nombre_segundo" v-model="form.nombre_segundo" >
                </div>
                <div class="col-md-6">
                        <label>Primer Apellido</label>
                        <input class="form form-control" name="apellido_primero" id="apellido_primero" v-model="form.apellido_primero" required>
                </div>
                <div class="col-md-6">
                        <label>Segundo apellido</label>
                        <input class="form form-control" name="apellido_segundo" id="apellido_segundo" v-model="form.apellido_segundo" >
                </div>
                <div class="col-md-4">
                        <label>Correo electronico</label>
                        <input type="email" class="form form-control" name="email" id="email" v-model="form.email" required>
                </div>

                <div class="col-md-4">
                        <label>Tipo de documento</label>
                        <select class="form form-control" name="documento" id="documento" required>
                            <option value="1">Cédula</option>
                        </select>
                </div>
                <div class="col-md-4">
                        <label>Documento</label>
                        <input class="form form-control" name="documento" v-model="form.documento" id="documento" required/>
                </div>
                <div class="col-md-3">
                        <label>Rol</label>
                        <select class="form form-control" name="rol" v-model="form.rol" id="rol" required>
                            <option value="" style="display:none">Seleccione</option>
                            <option v-for="rol in arrayRoles" :key="rol.id" :value="rol.id">{{rol.description}}</option>
                        </select>
                </div>
                <div class="col-md-3">
                        <label>Area</label>
                        <select class="form form-control" name="rol" v-model="form.id_area" id="rol" required>
                            <option value="" style="display:none">Seleccione</option>
                            <option v-for="area in arrayArea" :key="area.id" :value="area.id">{{area.nombre}}</option>
                        </select>
                </div>
                <div class="col-md-3">
                    <label>Activo</label>
                    <select class="form form-control" v-model="form.activo" name="isblocked" id="isblocked" required>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Puntos de atención</label>
                    <select class="form form-control" v-model="form.id_punto_atencion" name="id_punto_atencion" id="id_punto_atencion" required>
                        <option value="">Seleccione</option>
                        <option v-for="(puntosAtencion,index) in arrayPuntosAtencion" :key="index" :value="puntosAtencion.id">{{puntosAtencion.nombre}}</option>
                    </select>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success" :disabled="disabled"><i class="fa fa-save"></i> Guardar </button>
                </div>
            </div>
        </form>
</template>

<script>
export default {
    data()
    {
        return{
            form:
            {
                id:'',
                nombre_primero:'',
                nombre_segundo:'',
                apellido_primero:'',
                apellido_segundo:'',
                email:'',
                documento:'',
                activo:1,
                rol:'',
                id_area:'',
                id_punto_atencion:''
            },
            arrayRoles:[],
            arrayArea:[],
            arrayPuntosAtencion:[],
            disabled:false,
            formValidation:Object
        }
    },
    methods:{
        loadRoles()
        {
            let me=this;
	        axios.get(base+'/usuarios/roles/').then(function (response) 
	        {
                var respuesta = response.data;
                me.arrayRoles=respuesta;
	        })
	        .catch(function (error, msj)
	        {
	            console.error(error, msj);
	        });
        },
        loadPuntosAtencion()
        {
            let me=this;
	        axios
            .get(base+'/puntosatencion/')
            .then(function (response) 
	        {
                var respuesta = response.data;
                me.arrayPuntosAtencion=respuesta;
	        })
	        .catch(function (error, msj)
	        {
	            console.error(error, msj);
	        });
        },
        guardar()
        {
            let me = this;
            me.disabled=true;
             $('form').submit(function(e){
				e.preventDefault();
				if(me.formValidation.valid())
				{
                    me.$emit('save', me.form);
                    me.disabled=true;
                }
                else
                {
                    me.disabled=false;
                }
			});
        },
        loadUser()
        {
            let me = this;
            if(me.form.id!='')
            {
                axios.get(base+'/usuarios/edit/'+me.form.id).then(function (response) 
                {
                    me.form       = response.data.data;
                    me.form.rol   = response.data.data.roles[0].id;
                })
                .catch(function (error)
                {
                    console.error(error);
                });
            }
        },
        loadArea()
        {
            let me = this;
	        axios.get(base+'/areas/').then(function (response) 
	        {
                me.arrayArea=response.data;
	        })
	        .catch(function (error, msj)
	        {
	            console.error(error, msj);
	        });
        },
    },
    mounted()
    {
        let me = this;
        me.form.id =(typeof me.$route.params.id!='undefined')?me.$route.params.id:me.form.id;
        me.loadRoles();
        me.loadArea();
        me.loadUser();
        me.loadPuntosAtencion();
        me.formValidation=$('form').validate();
    }
}
</script>

<style>

</style>