<template>
	<div>
		<Form @save="guardar" ></Form>
	</div>
</template>

<script>
import Form from './form';
export default 
{
	data(){
        return{
            base:''
		}
	},
	components:{Form},
	methods:{
		guardar(value)
        {
            let me = this;
            var url = base + '/areas/update/'+value.id;
            axios
            .post(url,value)
            .then(function(response)
            {
				if(response.data.validate)
				{
					
                    me.$swal({type: 'success',title: 'Guardado con éxito'});
                    me.$router.push('/dashboard/areas');
				}
				else
				{
					me.$swal({type: 'error',title: 'Error al guardar.'})
					me.$children.btnreadonly=false;
					console.error(response.data.msj);
				}
            })
            .catch(function(error)
            {
                console.error(error)
            });
        },
        loadData()
        {

        }
	},
    mounted()
    {
        this.loadData();
	}
}
</script>
