<template>
	<div>
		<form @submit.prevent="guardar">
			<div class="row">
                <div class="col-md-6">
                    <label for="area">Area</label>
                    <input type="text" class="form form-control" id="area" name="area" v-model="form.nombre" required>
                </div>
                <div class="col-md-6">
                    <label for="area">Descripcion</label>
                    <input type="text" class="form form-control" id="descripcion" name="descripcion" v-model="form.descripcion" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" :disabled="disabled">Guardar</button>
                </div>
            </div>
		</form>
	</div>
</template>
<script>
	export default {
	data()
		{
            return {
                base:'',
                disabled:false,
                form:{
                    id:'',
                    nombre:'',
                    descripcion:''
                }
            }
		},
        methods:
        {
            guardar()
            {
                let me = this;
                me.$emit('save', me.form);
                me.disabled=true;
            },
            loadData(){
                let me = this;
                if(me.form.id!='')
                {
                    axios.get(base+'/areas/edit/'+me.form.id).then(function (response) 
                    {
                        me.form = response.data.data;
                    })
                    .catch(function (error, msj)
                    {
                        console.error(error, msj);
                    });
                }
            }
		},
		mounted()
		{
			let me = this;
            me.base = base;
            me.form.id =(typeof me.$route.params.id!='undefined')?me.$route.params.id:me.form.id;
            me.loadData();
		}
}
</script>
<style>
.row{
    padding-top:10px;
}
#formula{
	font-size: 70px;
}
.invalidate{
	border-color:#a94442 !important;
    -webkit-box-shadow: 0 0 0 0.2rem #a94442 !important;
    box-shadow: 0 0 0 0.2rem #a94442 !important;

}
.text-muted{
    text-align: center;
}
</style>
