<template>
    <div>
      <router-link class="btn btn-success" :to="{ name: 'areasnew'}">Nueva area</router-link>
        
        <div class="row">
          <div class="col-md-4">
          <label class="col-md-4">Registros</label>
          <select class="col-md-4" @change="cargarAreas(1)" v-model="registros">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
          </div>
        </div>
        <div id="scroll_bar">
            <table class="table-hover" width="100%" border="1">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Opciones</td>
                        <td>Nombre</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(areas,index) in arrayAreas.data" :key="index">
                        <td>{{(arrayAreas.page*registros)-registros+index+1}}</td>
                        <td> 
                            <div>
                                <b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
                                    <router-link class="dropdown-item"  :to="{ name: 'areasedit',params: { id: areas.id }}"><i class="far fa-edit"></i> Editar</router-link>
                                    <b-dropdown-item>Eliminar</b-dropdown-item>
                                </b-dropdown>
                            </div>
                        </td>
                        <td>{{areas.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <label>Mostrando pagina {{arrayAreas.page}} de {{arrayAreas.total}} registros</label>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" :class="arrayAreas.page<=1?'disabled':''"><button class="page-link" @click="cargarAreas(arrayAreas.page-1)">Anterior</button></li>
                <li v-for="i in arrayAreas.pages" :key="i" class="page-item" :class="i==arrayAreas.page?'active':''">
                  <button class="page-link" href="#" @click="cargarAreas(i)">{{i}}</button>
                </li>              
              <li class="page-item" :class="arrayAreas.page>=arrayAreas.pages?'disabled':''"><button class="page-link"  @click="cargarAreas(parseInt(arrayAreas.page)+1)">Siguiente</button></li>
            </ul>
          </nav>
    </div>
</template>
<script>
export default {
		data()
		{
      return {
        registros:10,
        arrayAreas: {
          data:[],
          page:1,
          pages:0,
          total:0
        }    
			}
		},
    methods:{
        cargarAreas(pagina=1)
        {
            let me = this;
            me.arrayAreas.page=(pagina<1)?1:(pagina>me.arrayAreas.pages&&me.arrayAreas.pages>0)?me.arrayAreas.pages:pagina;
            var url = base + '/areas/';
            axios
            .get(url, {params: {page: me.arrayAreas.page,registros:me.registros}})
            .then(function(response)
            {
                me.arrayAreas=response.data;
            })
            .catch(function(error)
            {
                console.error(error)
                });
            },
        },
		mounted()
		{
      this.cargarAreas(1);
	  }
}
</script>