<template>
    <div class="row">
        <div class="col-md-12">
            <h1>{{dataArray.nombre}}</h1>
            <h2 style="text-transform: capitalize;">{{descripciones}}</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Usuario responsable</th>
                        <th>Documento</th>
                        <th>Area</th>
                        <th>Nombre</th>
                        <th>Valor</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(valor,index) in dataArray.valor" :key="index">
                        <td>{{valor.numero}}</td>
                        <td>{{valor.usuario}}</td>
                        <td>{{valor.documento}}</td>
                        <td>{{valor.area}}</td>
                        <td>{{valor.nombre}}</td>
                        <td>{{valor.valor}}</td>
                        <td>{{valor.anno}}-{{valor.mes}}</td>
                        <td>{{valor.valor_estado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            dataArray:[],
            base:'',
            descripciones:'',
            id:'',
        }
    },
    methods: {
        loadDetail()
        {
            let me = this;
            let url = base +'/piramide/detail';
            me.descripciones  = me.$route.params.descripciones;
            me.id           = me.$route.params.id;
            axios
            .post(url,{descripciones:me.descripciones,id:me.id})
            .then(function(response){
                me.dataArray=response.data.data;
            })
            .catch(function(response){
                console.warn(response);
            })
        }
    },
    mounted()
    {
        let me = this;
        me.base=base;
        me.loadDetail();
    }
}
</script>