<template>
    <div class="row">
        <div id="container_datas">
            <div id="div_pira">
                <img :src="base+'/images/piramide.png'" id="img_piramide"/>
            </div>
            <div id="div_table">
                <table id="table" style="width:300px">
                    <tr v-for="(resumen,index) in resumenArray" :key="index">
                        <td>
                            {{resumen.nombre}}
                            <br>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <router-link v-if="resumen.rango.satisfactorio>0" :to="{ name: 'piramide_detail', params:{id:resumen.id,descripciones:'satisfactorio'}}" class="btn btn-green">{{resumen.rango.satisfactorio}}</router-link>
                                <span style="cursor:no-drop" class="btn btn-green" v-else>0</span>
                                <router-link v-if="resumen.rango.aceptable>0" :to="{ name: 'piramide_detail', params:{id:resumen.id,descripciones:'aceptable'}}" class="btn btn-warning"  >{{resumen.rango.aceptable}}    </router-link>
                                <span style="cursor:no-drop" class="btn btn-warning" v-else>0</span>
                                <router-link v-if="resumen.rango.deficiente>0" :to="{ name: 'piramide_detail', params:{id:resumen.id,descripciones:'deficiente'}}" class="btn btn-danger"  > {{resumen.rango.deficiente}}   </router-link>
                                <span style="cursor:no-drop" class="btn btn-danger" v-else>0</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            base:'',
            resumenArray:[]
        }
    },
    methods: {
        loadResumen()
        {
            let me = this;
            let url = base +'/piramide';
            axios
            .get(url)
            .then(function(response){
                if(response.data.validate)
                {
                    me.resumenArray=response.data.data;
                }
            })
            .catch(function(response){
                console.warn(response);
            })
        },
        verDetalle(id,descripciones)
        {
            let me = this;
            me.$router.push()
            console.log(id,descripciones)
        }
    },
    mounted()
    {
        let me = this;
        me.base=base;
        me.loadResumen();
    }
}
</script>
<style>
#img_piramide{
    width: 500px
}
#table td{
    color:#fff;
    padding-bottom: 35px;
}
#div_pira{ 
    left: 40px; 
    top: 40px;
}
#div_table{
    position: absolute;
    left: 105px;
    top: 10px;
}
#container_datas{
    position: relative;
}
.btn-green{
    background-color: #92D050;
    color:#FFF;
}
</style>