<template>
	<div>
		<div class="row">
			<div class="col-md-4">
				<label class="col-md-4">Registros</label>
				<select class="col-md-4" @change="cargarIndicadores(1)" v-model="registros">
					<option value="3">3</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="50">50</option>
				</select>
			</div>
			<div class="col-md-4">
				<download-excel :data="downloadTable">
					<button class="btn btn-success">
					Descargar
					</button>
				</download-excel>
			</div>
		</div>
		<div id="scroll_bar">
			<table border="1" id="dest_table" class="table table-hover">
				<thead>
					<tr>
						<td>Año</td>
						<td>No.</td>
						<td>Area</td>
						<td style="min-width:300px">Indicador</td>
						<td v-for="(mes,index) in meses" :key="index">{{mes.name}}</td>
					</tr>
				</thead>
				<tbody>
					<template v-for="(data,i) in arrayRegistros.data">

						<template v-for="(d,j) in data.indicador">
							<tr :key="i+''+j">
								<td>
									{{data.key}}
								</td>
								<td>
									{{d.tbl_indicadores.numero}}
								</td>
								<td>
									{{d.tbl_indicadores.tbl_area.nombre}}
								</td>
								<td>
									{{d.nombre}}
								</td>
								<td v-for="(mes,index) in meses" :key="index">
									<template v-for="(val,index) in d.value">
										<template v-if="val.mes==mes.id">
											<div :key="index">
												<div :class="'alert alert-'+(val.estadoValorRegistro==1?'success colorgreen':(val.estadoValorRegistro==2?'warning coloryellow':(val.estadoValorRegistro==3?'danger colorred':'secondary')))" role="alert">
													{{val.valor|formatNumber}}
												</div>
												<div class="btn-group" role="group" aria-label="Basic example">
													<a class="btn btn-primary" :href="base+'/'+val.url_file" target="_black">		  <i class="far fa-eye"></i>	      </a>
													<a class="btn btn-danger"  :href="base+'/'+val.url_file" target="_black" download><i class="fas fa-file-download"></i></a>
													<button class="btn btn-warning" @click="detail(val.observacion)"><i class="fas fa-info-circle"></i></button>
													<button class="btn btn-success" @click="usersDetail(val.tbl_usuario,val.TblPuntosAtencion,val.Tbl_areas)"><i class="fas fa-user"></i></button>
												</div>
											</div>
										</template>
									</template>
								</td>
							</tr>
						</template>
					</template>
				</tbody>
			</table>
		</div>
		<label>Mostrando pagina {{arrayRegistros.page}} de {{arrayRegistros.total}} registros</label>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item" :class="arrayRegistros.page<=1?'disabled':''"><button class="page-link" @click="cargarIndicadores(arrayRegistros.page-1)">Anterior</button></li>
				<li v-for="i in arrayRegistros.pages" :key="i" class="page-item" :class="i==arrayRegistros.page?'active':''">
					<button class="page-link" href="#" @click="cargarIndicadores(i)">{{i}}</button>
				</li>
				<li class="page-item" :class="arrayRegistros.page>=arrayRegistros.pages?'disabled':''"><button class="page-link"  @click="cargarIndicadores(parseInt(arrayRegistros.page)+1)">Siguiente</button></li>
			</ul>
		</nav>
		<div>
			<b-modal v-if="persona!=''" id="bv-modal-example" title="BootstrapVue">
				<div class="directory-info-row">
					<div class="row">
						<div class="media">
							<a class="pull-left" href="#">
								<img class="thumb media-object" :src="base+'/images/people.png'" alt="">
							</a>
							<div class="media-body">
								<h4>{{persona.nombre_primero}} {{persona.apellido_primero}}  <span class="text-muted small"> - {{persona.activo==1?'Activo':'Desabilitado'}}</span></h4>
								<address>
									<strong>{{puntosAtencion.nombre}}</strong><br> {{tblAreas.nombre}} <br> <abbr title="Phone">P:</abbr> (142) 454-7890 </address>
							</div>
						</div>
					</div>
				</div>
			</b-modal>
		</div>
	</div>
</template>
<script>

export default 
{
	data(){
		return {
			registros:20,
			persona:'',
			puntosAtencion:'',
			tblAreas:'',
            base:'',
			meses:[],
			downloadTable:[],
            arrayRegistros: {
                data:{
                    indicador:[]
                },
                page:1,
                pages:0,
                total:0
            }
		}
	},
	filters:{
		formatNumber(value)
		{
			return value.toFixed(2);
		}
	},
	methods:{
		detail(txt)
		{
			alert(txt===''?'Sin observaciones':txt);
		},
		usersDetail(data)
		{
			this.puntosAtencion=data.tbl_puntos_atencion;
			this.tblAreas=data.tbl_areas;
			this.persona=data;
			console.log(data);
			this.$bvModal.show('bv-modal-example')	
		},
		donwnloadTable()
		{
			var tableName="dest_table";


			var otArr = [];
			var x = null;
			var cab = [];
			var tbl2 = $('#'+tableName+' tr').each(function(i)
			{        
				x = $(this).children();
				var itArr = [];
				x.each(function() 
				{
					itArr.push($.trim($(this).text())==''?null:$.trim($(this).text().replace('.', ','))) 
				});
				otArr.push(itArr);
			})
			cab.push(otArr)
			this.downloadTable = otArr;
		},
        async iniciar()
        {
            this.cargarMeses();
            await this.cargarIndicadores();
        },
        cargarMeses()
        {
            let me = this;
            axios.get(base+'/meses')
            .then(function(response)
            {
                me.meses=response.data.data;
            })
            .catch(function(error)
            {
                console.error(error)
            });
        },
        async cargarIndicadores(pagina=1)
        {
            let me = this;
            me.arrayRegistros.page=(pagina<1)?1:(pagina>me.arrayRegistros.pages&&me.arrayRegistros.pages>0)?me.arrayRegistros.pages:pagina;
            var url = base + '/indicadores/registros/';
            axios
            .get(url, {params: {page: me.arrayRegistros.page,registros:me.registros}})
            .then(async function(response)
            {
				me.arrayRegistros = response.data;
				setTimeout(() => {me.donwnloadTable()}, 500);
				me.$swal().close();
            })
            .catch(function(error)
            {
                console.error(error)
            });
        },
    },
	mounted()
	{
		let me = this;
		me.base=base;
        me.$swal({
			title: "Cargando",   
            text: "Por favor espere un momento",
			showConfirmButton: false
		})
		me.iniciar();
    }  
}
</script>
<style>
#scroll_bar{
    overflow-y: scroll;
}
.colorgreen{
    background-color: #92D050;
    color:#000
}
.colorred{
    background-color: #FF2905;
    color:#000
}
.coloryellow{
    background-color: #FEFD32;
    color:#000
}



.directory-list, .directory-info-row .social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.directory-list li {
    border-left: 3px solid #f1f2f7;
    display: table-cell;
    width: 1%;
}

.directory-list li a {
    display: block;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    color: #7A7676;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.directory-info-row .thumb {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: auto;
    width: 175px;
    margin-right: 10px;
}

.directory-list li a:hover, .directory-info-row .social-links li a:hover {
    background: #ff6c60;
    color: #fff;
}

.directory-info-row {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.directory-info-row h4, .directory-info-row a {
    color: #424F63;
}

.h4, h4 {
    font-size: 18px;
}

.directory-info-row .social-links {
    display: inline-block;
    margin-bottom: 10px;
}

.directory-info-row .social-links li {
    display: inline-block;
}

ul li {
    list-style: none;
}

.directory-info-row .social-links li a {
    background: #EFF0F4;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #7A7676;
}
</style>