<template>
    <div>
        <form id="form">
                <div class="col-md-12">
                    <label for="">Seleccione la fecha</label>
                    <select class="form form-control" name="fecha" id="fecha" required v-model="fecha">
                        <option value="">Seleccione un mes</option>
                        <option v-for="(fechas, index) in arrayFechas" :key="index" :value="fechas.id">{{fechas.anno}} - {{fechas.name}}</option>
                    </select>
                </div>
                <div class="col-md-12">
                    año {{fecha.anno}}
                </div>
                <div class="col-md-12" v-if="fecha!=''">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Variable</th>
                                <th>Nombre</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(Registros,index) in arrayRegistros" :key="index">
                                <td>
                                    <span>{{Registros.nombre_corto}}</span>
                                </td>
                                <td>
                                    <span>{{Registros.nombre_largo}}</span>
                                </td>
                                <td>
                                    <input class="form form-control" @change="validar()" type="number" :id="'value_'+index" :name="'value['+index+']'" v-model="registro.value[index].value" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12"  v-if="fecha!=''">
                    <br>
                    <i>{{formula}}</i>
                    ={{resultado}}
                    <br><strong>Resultado:{{formula_resultado}}</strong>
                </div>
                <div class="col-md-12"  v-if="fecha!=''">
                    <label>Ingrese la observacion</label>
                    <textarea v-model="Observacion" name="" class="form-control" id="" cols="30" rows="5"></textarea>
                </div>
                <br>
                <div class="col-md-12"  v-if="fecha!=''">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" ref="file" v-on:change="handleFileUpload()" required>
                        <label class="custom-file-label" for="customFile">Ingrese soporte</label>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <button  type="submit" :disabled="fecha=='' " class="btn btn-success" ><i class="fas fa-save"></i> Guardar</button>
                </div>
        </form>
    </div>
</template>
<script>
export default 
{
	data(){
		return {
            file:'',
            resultado:'',
            formula:'',
            formula_corta:'',
            formula_resultado:'',
            formValidation:Object,
            base :'',
            btnreadonly:false,
            arrayRegistros:[],
            arrayFechas:[],
            id:'',
            fecha:'',
            Observacion:'',
            registro:{
                value:[]
            }
		}
	},
	methods:{
        handleFileUpload(){
            let me = this;
            me.file = this.$refs.file.files[0];
        },
        validar()
        {
            let me = this;
            let validateValues=true;
            $.each(me.registro.value,function(index,value)
            {
                validateValues=($.trim(value.value)==''?false:validateValues);
            });
            if(validateValues)
            {
                var url = base + '/validarResultados/';
                axios
                .post(url,{registro:me.registro.value,formula_corta:me.formula_corta})
                .then(function(response)
                {
                    if(response.data.validate)
                    {
                        me.resultado=response.data.value;
                    }
                    else{
                        me.resultado='ERROR';
                    }
                })
                .catch(function(error)
                {
                    console.error(error)
                });
            }
        },
        iniciar()
        {
            let me = this;
            this.cargarIndicadores();
            me.formValidation = $('#form').validate();
            $('#form').submit(function(e){
					e.preventDefault();
					me.btnreadonly=true;
					if(me.formValidation.valid())
					{
                        me.guardar()
                    }
                    else{
					    me.btnreadonly=false;
                    }
				});
        },
        guardar()
        {
            let me = this;
            let formData = new FormData();
            formData.append('file', me.file);
            formData.append('id',me.id)
            formData.append('fecha',JSON.stringify(me.fecha));
            formData.append('registro',JSON.stringify(me.registro.value));
            formData.append('observacion',me.Observacion);
            axios.post(
                me.base+'/indicadores/save',
                formData,
                {headers: {'Content-Type': 'multipart/form-data'}}
            )
            .then(function(response)
            {
                let data=response.data;
                if(data.validate)
                {
                    me.btnreadonly=true;
                    me.$swal({type: 'success',title: 'Se ha guardado con éxito'});
                    me.$router.push({ name: "registrosindex"})
                }
                else{
                    me.btnreadonly=false;
                    me.$swal({type: 'warning',title: 'Se ha generado un error'});
                }
            })
            .catch(function(e)
            {
                console.error('FAILURE!!:',e);
            });
        },
        cargarIndicadores()
        {
            let me = this;
            var url = base + '/indicadores/registros';
            axios
            .post(url,  {id:me.id})
            .then(function(response)
            {
                me.arrayRegistros=response.data.data;
                me.arrayFechas=response.data.fechas;
                me.formula=response.data.formula;
                me.formula_corta=response.data.formula_corta;
                $.each(me.arrayRegistros,function(index,value)
                {
                    me.registro.value[index]={
                        id:value.id,
                        nombre_corto:value.nombre_corto,
                        nombre_largo:value.nombre_largo,
                        value:''
                    };
                });
            })
            .catch(function(error)
            {
                console.error(error)
            });
        },
		guardarIndicadores()
        {
			let me = this;
            var url = base + '/indicadores/';
            axios
            .post(url,me.indicadoresData)
            .then(function(response)
            {
				if(response.data.validate)
				{
					me.$swal({type: 'success',title: 'Guardado con éxito'});
				}
				else
				{
					me.$swal({type: 'error',title: 'Error al guardar.'})
					me.$children.btnreadonly=false;
					console.error(response.data.msj);
				}
            })
            .catch(function(error)
            {
                console.error(error)
            });
        }
	},
	mounted(){
        this.id = this.$route.params.id;
        this.iniciar();
    }
}
</script>
