<template>
	<div>
		<!-- Page Wrapper -->
		<div id="wrapper">
			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
				<!-- Sidebar - Brand -->
				<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">analisis<br>de información</div>
				</a>
				<!-- Divider -->
				<hr class="sidebar-divider my-0">
				<!-- Nav Item - Dashboard -->
				<template v-if="true">
				<li class="nav-item active" v-if="permisos.indicadores_create || permisos.indicadores_update || permisos.indicadores_index || permisos.indicadores_delete">
					<router-link class="nav-link" :to="{ name: 'indicadorindex'}">
						<i class="fas fa-fw fa-tachometer-alt"></i>
						<span>Indicadores</span>
					</router-link>
				</li>
				<!-- Divider -->
				<hr class="sidebar-divider">
				<!-- Heading -->
				<div class="sidebar-heading">
					Menu
				</div>
				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item" v-if="permisos.indicadores_create || permisos.indicadores_update || permisos.indicadores_index || permisos.indicadores_delete">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Indicadores</span>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded" v-if="permisos.indicadores_index">
							<router-link class="collapse-item" :to="{ name: 'indicadorindex'}">
								<i class="far fa-list-alt"></i>
								<span>Listado</span>
							</router-link>
							<router-link class="collapse-item" :to="{ name: 'indicadornew'}" v-if="permisos.indicadores_create">
								<i class="fas fa-folder-plus"></i>
								<span>Nuevo</span>
							</router-link>
							<router-link class="collapse-item" :to="{ name: 'registrosindex'}">
								<i class="fas fa-file-signature"></i>
								<span>Registros</span>
							</router-link>
						</div>
					</div>
				</li>
				<li class="nav-item" v-if="permisos.Areas_create || permisos.Areas_update || permisos.Areas_index || permisos.Areas_delete">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePuntosAtencion" aria-expanded="true" aria-controls="collapsePuntosAtencion">
					<i class="fas fa-clinic-medical"></i>
					<span>Puntos de atencion</span>
					</a>
					<div id="collapsePuntosAtencion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<router-link v-if="permisos.Areas_index" class="collapse-item" :to="{ name: 'puntosatencion_index'}">
								<span>Listado</span>
							</router-link>
							<router-link v-if="permisos.Areas_create" class="collapse-item" :to="{ name: 'puntosatencionnew'}">
								<span>Nuevo</span>
							</router-link>
						</div>
					</div>
				</li>
				<li class="nav-item" v-if="permisos.Areas_create || permisos.Areas_update || permisos.Areas_index || permisos.Areas_delete">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAreas" aria-expanded="true" aria-controls="collapseAreas">
					<i class="far fa-building"></i>
					<span>Areas</span>
					</a>
					<div id="collapseAreas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<router-link v-if="permisos.Areas_index" class="collapse-item" :to="{ name: 'areasindex'}">
								<span>Listado</span>
							</router-link>
							<router-link v-if="permisos.Areas_create" class="collapse-item" :to="{ name: 'areasnew'}">
								<span>Nuevo</span>
							</router-link>
						</div>
					</div>
				</li>
				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item"  v-if="permisos.Usuarios_create || permisos.Usuarios_update || permisos.Usuarios_index || permisos.Usuarios_delete">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
					<i class="fas fa-users"></i>
					<span>Usuarios</span>
					</a>
					<div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<router-link class="collapse-item" :to="{ name: 'users'}">
								<i class="fas fa-users"></i>
								<span>Listado</span>
							</router-link>
							<router-link class="collapse-item" :to="{ name: 'usersnew'}">
								<i class="fas fa-user-plus"></i>
								<span>Nuevo</span>
							</router-link>		
							<router-link  v-if="user.roles[0].name=='admin'" class="collapse-item" :to="{ name: 'permisos'}">
								<i class="fas fa-users-cog"></i>
								<span>Permisos de usuarios</span>
							</router-link>					
						</div>
					</div>
				</li>
				<li class="nav-item" v-if="permisos.comparativos || permisos.piramide_index || permisos.piramide_show">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInforme" aria-expanded="true" aria-controls="collapseInforme">
					<i class="far fa-file-alt"></i>
					<span>Informes</span>
					</a>
					<div id="collapseInforme" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<router-link v-if="permisos.comparativos" class="collapse-item" :to="{ name: 'comparativoTrimestral'}">
								<i class="fas fa-sort-amount-up-alt"></i>
								<span>Comparativos</span>
							</router-link>
							<router-link v-if="permisos.resumen_index" class="collapse-item" :to="{ name: 'piramide_index'}">
								<i class="fas fa-exclamation-triangle"></i>
								<span>Resumen</span>
							</router-link>
						</div>
					</div>
				</li>
				</template>
			</ul>
			<!-- End of Sidebar -->
			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
				<!-- Main Content -->
				<div id="content">
					<!-- Topbar -->
					<nav v-if="menu.superior" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
						</button>
						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">
							<!-- Nav Item - Messages -->
							<div class="topbar-divider d-none d-sm-block"></div>
							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow">
								<b-dropdown variant="link" size="lg" toggle-class="text-decoration-none" no-caret right>
									<template slot="button-content">
										<span class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
										<img style="width: 26px;" class="img-profile rounded-circle" :src="base+'/images/logo-ese.png'">
									</template>
									<b-dropdown-item :to="{name:'cambiarpass'}">
										<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										cambiar contraseña
									</b-dropdown-item>
									<b-dropdown-item :href="base+'/logout'">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Salir
									</b-dropdown-item>
								</b-dropdown>
							</li>
						</ul>
					</nav>
					<!-- End of Topbar -->
					<!-- Begin Page Content -->
					<div class="container-fluid">
						<!-- Content Row -->
						<div class="row">
							<!-- Area Chart -->
							<div class="col-xl-12 col-lg-12">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body">
                    <div class="container-fluid">
                                        <router-view></router-view>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- End of Main Content -->
				<!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Manual de análisis de información.</span>
						</div>
					</div>
				</footer>
				<!-- End of Footer -->
			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
		</a>
	</div>
</template>
<script>
export default 
{
	data() 
	{
		return {
			title: '',
			user:Object,
			name:'',
			base:'',
			menu:{superior:true,lateral:false},
			permisos:{
				indicadores_create: false, 
				indicadores_update: false, 
				indicadores_index: false, 
				indicadores_delete: false, 
				puntosAtencion_create: false, 
				puntosAtencion_update: false, 
				puntosAtencion_index: false, 
				puntosAtencion_delete: false, 
				Areas_create: false, 
				Areas_update: false, 
				Areas_index: false, 
				Areas_delete: false, 
				Usuarios_create: false, 
				Usuarios_update: false, 
				Usuarios_index: false, 
				Usuarios_delete: false, 
				comparativos: false, 
				resumen_index: false, 
				resumen_show: false
			}
		}
  	},
	watch: {
		'$route' (to, from) 
		{
			let me = this;
			me.title=to.meta.title;
		} 
    },
	methods: { 
		userActual()
		{
			let me = this;
			let url =base+'/usuarios/selected';
			axios
			.get(url)
			.then(function(response)
			{
				me.name = ((response.data.nombre_primero==null)?'':response.data.nombre_primero)+' '+((response.data.nombre_segundo==null)?'':response.data.nombre_segundo)+' '+((response.data.apellido_primero==null)?'':response.data.apellido_primero)+' '+((response.data.apellido_segundo==null)?'':response.data.apellido_segundo);
				me.user = response.data;
			})
			.catch(function(response){
				console.warn(response);
			})
		},
		permisosSelected()
		{
			let me = this;
			let url =base+'/usuarios/permistions';
			axios
			.get(url)
			.then(function(response)
			{
				me.permisos=response.data;
				me.menu.lateral=true;
			})
			.catch(function(response){
				console.warn(response);
			})
		},
		
	},
	mounted()
	{
		let me = this;
		me.menu.lateral=false;
        me.base = base;
		me.userActual();
		me.permisosSelected();
		me.title=me.$route.meta.title;
	}
}
</script>