<template>
<div>
        <div class="row">
          <div class="col-md-6">
          <label>Registros</label>
          <select class="form form-control" @change="cargarIndicadores(1)" v-model="registros">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
          </div>
          <div class="col-md-6">
          <label>Informe</label>
          <select class="form form-control" @change="cargarIndicadores(1)" v-model="informe">
            <option value="">Seleccione</option>
            <option value="mensual">mensual</option>
            <option value="trimestral">trimestral</option>
            <option value="semestral">semestral</option>
            <option value="anual">anual</option>
          </select>
          </div>
          
          <div class="col-md-6" v-if="informe!=''">
              <label>Vigencia anterior</label>
              <select class="form form-control" v-model="anooInicial"  @change="cargarIndicadores(1)">
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  
              </select>
          </div>
          <div class="col-md-6" v-if="informe!=''">
              <label>Vigencia actual</label>
              <select class="form form-control" v-model="anooFinal"  @change="cargarIndicadores(1)">
                  <option v-if="2018>anooInicial" value="2018">2018</option>
                  <option v-if="2019>anooInicial" value="2019">2019</option>
                  <option v-if="2020>anooInicial" value="2020">2020</option>
                  <option v-if="2021>anooInicial" value="2021">2021</option>
                  
              </select>
          </div>
          
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success" v-if="informe!=''" @click="cargarIndicadores(1)">Buscar</button>
            </div>
            <br>
            <br>
        </div>
        <div id="scroll_bar" v-if="true">
            <table border="1" width="100%"  v-if="informe!=''">
                <tr>
                    <th>Indicador</th>
                    <template v-for="(resultado) in arrayRegistros.indicador[0]">
                        <th colspan="4" v-for="(d,i) in resultado.data" :key="i">
                        <center>{{d.name}}</center> 
                        </th>
                    </template>
                </tr>

                <tr>
                    <th><center>#</center></th>
                    <template v-for="(resultado) in arrayRegistros.indicador[0]">
                        <template  v-for="(d,i) in resultado.data">
                            <th :key="i+1000000"><center>{{anooInicial}}</center></th>
                            <th :key="i"> <center>{{anooFinal}}</center></th>
                            <th :key="i+200000"><center>Comparativo porcentual</center></th>
                            <th :key="i+300000"><center>Comparativo numerico</center></th>
                        </template>
                    </template>

                </tr>

                <tr v-for="(datas1,key) in arrayRegistros.indicador" :key="key">
                    <td>{{datas1.tbl_indicador.nombre}}</td>
                    <template v-for="(resultado222,index) in datas1.value.data">
                        <td :key="index+310000000000">
                            {{resultado222.anooInicial.value|numberFormat}}
                        </td>
                        <td :key="index+320000000000">
                            {{resultado222.anooFinal.value|numberFormat}}
                        </td>
                        <td :key="index+330000000000">
                            {{((resultado222.anooFinal.value/resultado222.anooInicial.value)/resultado222.anooInicial.value)*100|validateNumber}}%
                        </td>
                        <td :key="index+340000000000">
                            {{((resultado222.anooFinal.value/resultado222.anooInicial.value)/resultado222.anooInicial.value)|validateNumber}}
                        </td>
                    </template>
                </tr>

            </table>
            <br>
            <br>
            <br>
          <table v-if="false" border="1" class="table table-hover">
               <tr>
                   <td rowspan="2">Opciones</td>
                   <td>Indicador</td>
                   <template>
                       <tr>
                            <td v-for="(mes,index) in meses" :key="index" colspan="2">
                                {{mes.name}}
                            </td>
                        </tr>
                        <td></td>
                        <template v-for="(mes,index1) in meses" > 
                            <td :key="index1+890000000001">{{anooInicial}}</td>
                            <td :key="index1+880000000001">{{anooFinal}}</td>
                        </template>
                    </template>
                </tr>
                <tr>
                    
                </tr>
                <tr v-for="(registro,index) in arrayRegistros.data" :key="index">
                    <td></td>
                    <td></td>
                    <template v-for="(mes,index1) in meses" > 
                        <td :key="index1+400000000001">
                            <div v-if="registro.name==mes.name &&registro.anooInicial.anno==anooInicial">
                                {{registro.anooInicial.value}}
                            </div>
                            <div v-else>
                                <span class="badge badge-danger">Sin linea base</span>
                            </div>
                        </td>
                        <td :key="index1+420000000000">
                            <div v-if="registro.name==mes.name &&registro.anooFinal.anno==anooFinal">
                            {{registro.anooFinal.value}}
                            </div>
                            <div v-else>
                                <span class="badge badge-danger">Sin linea base</span>
                            </div>
                        </td>
                    </template>
                </tr>
          </table>
        </div>
    </div>
</template>
<script>
export default 
{
	data(){
		return {
            registros:10,
            base:'',
            meses:[],
            anooInicial:'',
            anooFinal:'',
            informe:'mensual',
            arrayRegistros: {
                indicador:[]
            }
		}
    },
    filters: 
    {
        numberFormat: function (value) 
        {
            if (value) 
            {
                return value.toFixed(2);
            }
            return value;
        },
        validateNumber:function(value)
        { 
            let val ='';
            if(isNaN(value))
            {
                val = '-';
            }
            else if(value==Infinity)
            {
                val = '-';
            }
            else
            {
                val = value.toFixed(2);
            }
            return val;
        }
    },
	methods:{
        iniciar()
        {
            this.anooInicial = '2019';
            this.anooFinal   = '2020';
            this.cargarIndicadores();
            this.cargarMeses();
        },
        cargarMeses()
        {
            let me = this;
            me.meses=[
                {
                    id:'1',
                    name:'Primer trimestre'
                },
                {
                    id:'2',
                    name:'Segundo trimestre'
                },
                {
                    id:'3',
                    name:'Tercer trimestre'
                },
                {
                    id:'4',
                    name:'Cuarto trimestre'
                }
            ];
        },
        cargarIndicadores(pagina=1)
        {
            let me = this;
            if(me.informe!='')
            {
                if(me.anooInicial=='' && me.anooFinal=='')
                {
                    return;
                }
                me.arrayRegistros.page=(pagina<1)?1:(pagina>me.arrayRegistros.pages&&me.arrayRegistros.pages>0)?me.arrayRegistros.pages:pagina;
                var url = base + '/indicadores/comparativo';
                axios
                .get(url, {params: {page: me.arrayRegistros.page,registros:me.registros,anooInicial:me.anooInicial,anooFinal:me.anooFinal,informe:me.informe}})
                .then(function(response)
                {
                    me.arrayRegistros=response.data;
                })
                .catch(function(error)
                {
                    console.error(error)
                });
            }
        },
    },
	mounted()
	{
        this.base=base;
        this.iniciar();
    }  
}
</script>
<style>
#scroll_bar{
    overflow-y: scroll;
}
.colorgreen{
    background-color: #92D050;
    color:#000
}
.colorred{
    background-color: #FF2905;
    color:#000
}
.coloryellow{
    background-color: #FEFD32;
    color:#000
}
</style>