<template>
	<div>
		<puntosatencionForm @save="save"></puntosatencionForm>
	</div>
</template>

<script>
import puntosatencionForm from './form';
export default 
{
	data(){
		return {
			base:''
		}
	},
	components:{
		puntosatencionForm
	},
	methods:{
		save(data)
        {
			let me = this;
            var url = base + '/puntosatencion/';
            axios
            .post(url,data)
            .then(function(response)
            {
				if(response.data.validate)
				{
					me.$swal({type: 'success',title: 'Guardado con éxito'});
				}
				else
				{
					me.$swal({type: 'error',title: 'Error al guardar.'})
					me.$children.btnreadonly=false;
					console.error(response.data.msj);
				}
            })
            .catch(function(error)
            {
                console.error(error)
            });
        }
	},
	mounted(){
	}
}
</script>
