<template>
	<div>
		<form @submit.prevent="guardar">
			<div class="row">
                <div class="col-md-6">
                    <label for="area">Punto de atención</label>
                    <input type="text" class="form form-control" id="area" name="area" v-model="form.nombre" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" :disabled="disabled">Guardar</button>
                </div>
            </div>
		</form>
	</div>
</template>
<script>
	export default {
	data()
		{
            return {
                base:'',
                disabled:false,
                form:{
                    id:'',
                    nombre:''
                }
            }
		},
        methods:
        {
            guardar()
            {
                let me = this;
                me.$emit('save', me.form);
                me.disabled=true;
            },
            loadData(){
                let me = this;
                if(me.form.id!='')
                {
                    axios
                    .post(base+'/puntosatencion/find/',{id:me.form.id})
                    .then(function (response) 
                    {
                        me.form = response.data.data;
                    })
                    .catch(function (error, msj)
                    {
                        console.error(error, msj);
                    });
                }
            }
		},
		mounted()
		{
			let me = this;
            me.base = base;
            me.form.id =(typeof me.$route.params.id!='undefined')?me.$route.params.id:me.form.id;
            me.loadData();
		}
}
</script>