<template>
    <div>
      <router-link class="btn btn-success" :to="{ name: 'puntosatencionnew'}">Nuevo punto de atencion</router-link>
        
        <div class="row">
          <div class="col-md-4">
          <label class="col-md-4">Registros</label>
          <select class="col-md-4" @change="CargarPuntosAtencion(1)" v-model="registros">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
          </div>
        </div>
        <div id="scroll_bar">
          <table border="1" style="width:100%">
              <thead>
                  <tr>
                      <th>Opciones</th>
                      <th>Nombre</th>
                  </tr>
              </thead>
              <tbody>
                    <tr v-for="(puntos,index) in arrayPuntosAtencion.data" :key="index">
                        <td>
                            <b-dd>
                                <template slot="button-content" class="btn btn-success">
                                Opciones
                                </template>
                                <b-dropdown-item :to="{ name: 'puntosatencionEdit',params: { id: puntos.id }}"><i class="far fa-edit"></i> Editar</b-dropdown-item >
                                <b-dropdown-divider></b-dropdown-divider>
                                <b-dropdown-item @click="eliminar(puntos)"><i class="far fa-trash-alt"></i> Eliminar</b-dropdown-item>
                          </b-dd>
                          </td>
                        <td>{{puntos.nombre}}</td>
                    </tr>
              </tbody>
          </table>
        </div>
        <label>Mostrando pagina {{arrayPuntosAtencion.page}} de {{arrayPuntosAtencion.total}} registros</label>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" :class="arrayPuntosAtencion.page<=1?'disabled':''"><button class="page-link" @click="CargarPuntosAtencion(arrayPuntosAtencion.page-1)">Anterior</button></li>
                <li v-for="i in arrayPuntosAtencion.pages" :key="i" class="page-item" :class="i==arrayPuntosAtencion.page?'active':''">
                  <button class="page-link" href="#" @click="CargarPuntosAtencion(i)">{{i}}</button>
                </li>              
              <li class="page-item" :class="arrayPuntosAtencion.page>=arrayPuntosAtencion.pages?'disabled':''"><button class="page-link"  @click="CargarPuntosAtencion(parseInt(arrayPuntosAtencion.page)+1)">Siguiente</button></li>
            </ul>
          </nav>
    </div>
</template>
<script>
export default {
		data()
		{
      return {
        registros:10,
        arrayPuntosAtencion: {
          data:[],
          page:1,
          pages:0,
          total:0,
        },    
        limitString:100
			}
    },
    filters:{
      recortar(value)
      {
        var me= this;
        var limitString=100;
        var res = value;
        if(value.length>limitString)
        {
          res = value.slice(0,limitString);
          res=res+'...';
        }
        return res;
      }
    },
    methods:{
      vermas(text)
      {
        alert(text);
      },
      eliminar(data)
		  {
        let me = this;
				me.$swal({
					title: 'Borrando',
          text: 'Va a borrar el punto de atencion "'+ data.nombre +'" ¿Está seguro?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Si, borralo',
					cancelButtonText: 'Cancelar'
				}).then((result) => 
				{
					if (result.value) 
					{
						axios.post('/puntosatencion/delete',{id:data.id}).then(function (response) 
						{
							me.CargarPuntosAtencion(me.page);
							me.$swal('Borrado','El punto de atencion "'+ data.nombre +'" ha sido borrado con éxito','success')
						})
					}
					else if (result.dismiss === "cancel")
					{
						me.$swal('Cancelado','No se ha eliminado el punto de atención "'+ data.nombre +'"','error')
					}
				})
      },
      CargarPuntosAtencion(pagina=1)
      {
        let me = this;
        me.arrayPuntosAtencion.page=(pagina<1)?1:(pagina>me.arrayPuntosAtencion.pages&&me.arrayPuntosAtencion.pages>0)?me.arrayPuntosAtencion.pages:pagina;
        var url = base + '/puntosatencion/all';
        axios
        .get(url, {params: {page: me.arrayPuntosAtencion.page,registros:me.registros}})
        .then(function(response)
        {
         me.arrayPuntosAtencion=response.data;
        })
        .catch(function(error)
        {
            console.error(error)
        });
      }
    },
	mounted()
	{
      this.CargarPuntosAtencion();
    }
}
</script>