<template>
	<div>
		<indicadoresForm @save="save"></indicadoresForm>
	</div>
</template>

<script>
import indicadoresForm from './form';
export default 
{
	data(){
		return {
			validateFormula:false,
			indicadoresData:[]
		}
	},
	components:{
		indicadoresForm
	},
	methods:{
        save(datas)
        {
            let me = this;
            var url = base + '/puntosatencion/update';
            axios
            .post(url,datas)
            .then(function(response)
            {
					if(response.data.validate)
					{
						me.$swal({type: 'success',title: 'Guardado con éxito'});
					}
					else
					{
						me.$swal({type: 'error',title: 'Error al guardar.'})
						me.$children.btnreadonly=false;
					}
            })
            .catch(function(error)
            {
                    console.error(error)
            });
		}
    }
}
</script>
<style>
.row{
    padding-top:10px;
}
#formula{
	font-size: 70px;
}
.invalidate{
	border-color:#a94442 !important;
    -webkit-box-shadow: 0 0 0 0.2rem #a94442 !important;
    box-shadow: 0 0 0 0.2rem #a94442 !important;

}
.text-muted{
    text-align: center;
}
</style>